.login-button {
  display: flex;
  justify-content: flex-end;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.menu-area * {
  margin-right: 10px;
  margin-top: 20px;
}

.search-input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  /* align-items: flex-end; */
}
.search-input {
  border:none;
  outline:none;
}

.product_img {
  transition: all 0.2s linear;
}

.product_img:hover {
  transform: scale(1.4);
}

.form_container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}