.login-button {
  display: flex;
  justify-content: flex-end;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.search-input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  align-items: flex-end;
}
.search-input {
  border:none;
  outline:none;
}